<div class="plan-container" *ngIf="inventoryForm">
    <form [formGroup]="inventoryForm">
        <app-inventory-input-plan-header [headerFormGroup]="headerFormGroup" (back)="onBack()"
            (repositoryChanged)="onRepositoryChanged($event)">
        </app-inventory-input-plan-header>

        <app-inventory-input-plan-list [detailsFormArray]="detailsFormArray" (addItem)="addDetail()"
            (removeItem)="removeDetail($event)">
        </app-inventory-input-plan-list>
    </form>
</div>