:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.list-product-container {
  flex: 1;
  background-color: #F9FCFF;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .content-wrapper {
    margin: 0 0.75rem;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
  }

  .header-section {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 0.5rem 0;

    .title-group {
      display: flex;
      align-items: center;
      column-gap: 1rem;
      height: 30px;

      .title {
        font-weight: 500;
        color: #4392BB;
      }

      .csv-btn {
        display: flex;
        align-items: center;
        height: 30px;
        gap: 0.15rem;
        padding: 5px 14px;
        border: 1px solid #9ca3af;
        color: #4392BB;
        border-radius: 0.25rem;
        font-size: 13px;
        font-weight: 500;
        transition: background-color 0.15s;
        background-color: transparent;

        &:hover {
          background-color: rgba(67, 146, 187, 0.1);
        }
      }

      .filter-options {
        display: flex;
        align-items: center;
        gap: 0.75rem;
        accent-color: #4392BB;

        .filter-item {
          display: flex;
          align-items: center;
          gap: 0.175rem;
          cursor: pointer;

          input[type="radio"] {
            width: 1rem;
            height: 1rem;
            color: #4392BB;
            cursor: pointer;

            &:focus {
              outline: none;
            }
          }

          label {
            font-size: 13px;
            cursor: pointer;
            user-select: none;
          }
        }
      }
    }

    .record-count {
      font-size: 13px;
      color: #6b7280;
      font-weight: 500;

      .count-value {
        color: #111827;
      }
    }
  }

  .table-section {
    flex: 1;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .table-container {
      flex: 1;
      min-height: 0;
      overflow: auto;

      &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
      }

      &::-webkit-scrollbar-track {
        background: #f1f1f1;
      }

      &::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 4px;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
    }

    .product-table {
      width: 100%;
      table-layout: fixed;
      border-collapse: separate;
      border-spacing: 0;

      thead {
        position: sticky;
        top: 0;
        z-index: 20;
        background-color: #F9FCFF;


        tr {
          font-weight: bold;
          font-size: 13px;
          color: #485764;

          th {
            padding: 8px 0 9px;
            text-align: left;
            border-bottom: 1px solid #e5e7eb; // Default border color
            white-space: nowrap;

            &.sticky-left {
              position: sticky;
              left: 0;
              z-index: 10;
              background-color: #F9FCFF;
            }

            &.sticky-right {
              position: sticky;
              right: 0;
              z-index: 10;
              background-color: #F9FCFF;
              text-align: center;
              border-left: 1px solid #d1d5db;
              border-bottom: 1px solid #d1d5db;
            }
          }
        }
      }

      tbody {
        tr {
          font-size: 13px;
          background-color: #F9FCFF;
          height: 38px;
          transition: background-color 0.15s;

          &:nth-child(even) {
            background-color: #F2F6FF;
          }

          &:hover {
            background-color: #eff6ff;
          }

          td {
            height: 20px;
            line-height: 20px;
            border-bottom: 1px solid #d1d5db;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;


            &.sticky-left {
              position: sticky;
              left: 0;
              z-index: 10;
              background-color: inherit;
              border-bottom: 1px solid #d1d5db;
            }

            &.sticky-right {
              position: sticky;
              right: 0;
              z-index: 10;
              background-color: inherit;
              text-align: center;
              border-left: 1px solid #d1d5db;
              border-bottom: 1px solid #d1d5db;
            }

            .product-name-cell {
              display: flex;
              align-items: center;
              justify-content: space-between;
              line-height: 20px;

              .upc-text {
                font-size: 13px;
                font-weight: 500;
              }
            }
          }
        }

        .set-badge {
          padding: 0 0.25rem;
          font-size: 12px;
          font-weight: 500;
          color: #7C3AED;
          background-color: #EFEDFF;
          border-radius: 0.25rem;
        }

        .no-data {
          height: 100px;
          background-color: #E5E9F6;
          text-align: center;
          vertical-align: middle;
          color: #6b7280;
          border-bottom: 1px solid #d1d5db;
        }

        .delete-btn {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          width: 1.5rem;
          height: 1.5rem;
          color: white;
          background-color: #EB5757;
          border-radius: 3px;
          border: none;
          cursor: pointer;
        }
      }
    }
  }

  .load-more-container {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    column-gap: 1rem;
    position: relative; // Ensure it has a stacking context
    z-index: 50; // Ensure it is above other elements

    .load-more-btn {
      width: 7rem;
      padding: 0.5rem;
      text-align: center;
      font-size: 13px;
      color: #4392BB;
      font-weight: 500;
      border: 1px solid #D6D6D6;
      border-radius: 0.375rem;
      transition: background-color 0.15s;
      background-color: transparent;
      cursor: pointer;

      &:hover {
        background-color: #EFEFEF;
      }

      .btn-content {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.75rem;
      }
    }
  }
}
