<div class="list-container" *ngIf="detailsFormArray">
  <div class="list-header">
    <h3>入庫予定明細一覧 </h3>
    <button type="button" class="btn-add" (click)="onAddItem()">+ 追加</button>
  </div>

  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th rowspan="2" class="col-no">No.</th>
          <th class="col-product">商品</th>
          <th class="col-warehouse">倉庫</th>
          <th class="col-location">ロケーション</th>
          <th class="col-remarks">明細備考</th>
          <th class="col-unentered">未入庫</th>
          <th rowspan="2" class="col-actions"></th>
        </tr>
        <tr>
          <th class="col-spec">規格</th>
          <th class="col-date">管理日付</th>
          <th class="col-mng-no">管理番号</th>
          <th class="col-qty">入庫数量 <span class="spacer"></span> 合計</th>
          <th class="col-entered">入庫済</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let control of detailsFormArray.controls; let i = index" [formGroup]="$any(control)">
          <tr class="row-top">
            <td rowspan="2" class="cell-no">{{ i + 1 }}</td>
            <td class="cell-product">
              <div class="input-group">
                <div class="code-input-wrapper">
                  <input type="text" formControlName="productCode">
                  <button type="button" class="search-btn" (click)="openSearchDialog(i)">
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <rect width="14" height="14" rx="1" fill="#4392BB" />
                      <path
                        d="M9.91797 9.44141C10.0234 9.55859 10.0234 9.73438 9.90625 9.83984L9.57812 10.168C9.47266 10.2852 9.29688 10.2852 9.17969 10.168L8.01953 9.00781C7.96094 8.94922 7.9375 8.87891 7.9375 8.80859V8.60938C7.51562 8.9375 7 9.125 6.4375 9.125C5.08984 9.125 4 8.03516 4 6.6875C4 5.35156 5.08984 4.25 6.4375 4.25C7.77344 4.25 8.875 5.35156 8.875 6.6875C8.875 7.26172 8.67578 7.77734 8.35938 8.1875H8.54688C8.61719 8.1875 8.6875 8.22266 8.74609 8.26953L9.91797 9.44141ZM6.4375 8.1875C7.25781 8.1875 7.9375 7.51953 7.9375 6.6875C7.9375 5.86719 7.25781 5.1875 6.4375 5.1875C5.60547 5.1875 4.9375 5.86719 4.9375 6.6875C4.9375 7.51953 5.60547 8.1875 6.4375 8.1875Z"
                        fill="white" />
                    </svg>
                  </button>
                </div>
                <input type="text" formControlName="productName" class="name-input">
              </div>
            </td>
            <td class="cell-warehouse">
              <ng-container>
                <select formControlName="repositoryId" (change)="onDetailRepositoryChange(i, $event)">
                  <option [value]="">(設定無し)</option>
                  <option *ngFor="let repo of repositories()" [value]="repo.repositoryId">
                    {{ repo.repositoryCode }} : {{ repo.repositoryName }}
                  </option>
                </select>
              </ng-container>
            </td>
            <td class="cell-location">
              <select formControlName="locationCode">
                <option value="">(設定無し)</option>
                <option *ngFor="let loc of locationsMap[i]" [value]="loc.locationCode">
                  {{ loc.locationCode }}
                </option>
              </select>
            </td>
            <td class="cell-remarks">
              <input type="text" formControlName="detailNote">
            </td>
            <td class="cell-unentered">
              <input type="text" formControlName="totalPlanQuantity" readonly class="readonly-num">
            </td>
            <td rowspan="2" class="cell-actions">
              <div class="action-buttons">
                <button type="button" class="btn-delete" (click)="onRemoveItem(i)">🗑️</button>
                <button type="button" class="btn-copy">📄</button>
              </div>
            </td>
          </tr>
          <tr class="row-bottom">
            <td class="cell-spec">
              <input type="text" value="" formControlName="standardInfo" readonly class="readonly-input">
            </td>
            <td class="cell-date">
              <div class="date-group">
                <span class="badge-input">
                  {{ control.get('datetimeMngType')?.value ?
                  statusDateTimeMngType[control.get('datetimeMngType')?.value] :
                  '' }}
                </span>
                <div class="date-input-wrapper">
                  <input [matDatepicker]="picker" class="date-field" formControlName="datetimeMng">
                  <mat-datepicker-toggle matSuffix [for]="picker">
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </div>
              </div>
            </td>
            <td class="cell-mng-no">
              <input type="text" formControlName="numberMng"
                [attr.disabled]="control.get('isNumberMng')?.value === '0' ? true : null"
                [class.disabled-input]="control.get('isNumberMng')?.value === '0'">
            </td>
            <td class="cell-qty">
              <div class="qty-group">
                <input type="text" class="qty-small" formControlName="csPlanQuantity" (input)="calculateTotal(i)">
                <span>{{ control.get('packCsUnitName')?.value }}</span>
                <input type="text" class="qty-small" formControlName="blPlanQuantity" (input)="calculateTotal(i)">
                <span>{{ control.get('packBlUnitName')?.value }}</span>
                <input type="text" class="qty-medium" formControlName="psPlanQuantity" (input)="calculateTotal(i)">
                <span>{{ control.get('pieceUnitName')?.value }}</span>
                <input type="text" class="qty-medium" readonly formControlName="totalQuantityInput">
              </div>
            </td>
            <td class="cell-entered">
              <input type="text" formControlName="totalActualQuantity" readonly class="readonly-num">
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>