.master-product-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: auto;
    background-color: #C7D2F2;
}

.header {
    background-color: #FCFCFC;
    border-bottom: 1px solid #e5e7eb; // border-gray-200
    height: 4rem; // h-16
    padding-left: 1.5rem; // px-6
    padding-right: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.breadcrumb {
    display: flex;
    align-items: center;
    gap: 0.75rem; // gap-2
    font-size: 16px; // text-base
    font-weight: 500; // font-medium

}

.breadcrumb-link {
    color: #9F9F9F;
    transition: color 150ms;
    text-decoration: none;
    line-height: 150%;

    &:hover {
        color: #2563eb; // text-blue-600
    }
}

.current-page {
    color: #4392BB;
}

.add-button {
    width: 1.75rem; // w-7
    height: 1.75rem; // h-7
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4392BB;
    color: white;
    border-radius: 0.25rem; // rounded
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1); // shadow
    transition: background-color 150ms;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: #3B7A9C;
    }
}

.header-actions {
    display: flex;
    align-items: center;
    gap: 1rem; // gap-4
}

.date-container {
    display: flex;
    flex-direction: column;
    font-weight: 500; // font-medium
}

.date-label {
    font-size: 10px; // text-[10px]
    color: #9F9F9F;
    text-align: right;
}

.date-value {
    font-size: 0.875rem; // text-sm
    color: #4392BB;
}

.collapse-button {
    padding: 0.5rem; // p-2
    width: 1.75rem; // w-7
    height: 1.75rem; // h-7
    color: #4392BB;
    border-radius: 0.125rem; // rounded-sm
    border: 1px solid #d1d5db; // border-gray-300
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: #f3f4f6; // hover:bg-gray-100
    }
}





.container {
    display: flex;
    gap: 8px;
    overflow: auto;
}

.left {
    flex: 1;
    min-width: calc(100% - 736px);
}

.right {
    max-width: 720px;
}

.icon {
    transition: all 0.25s ease;
}

.rotate {
    transform: rotate(180deg);
}

.fade {
    animation: fadeIn 0.2s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}
