.inventory-output-correction-container {
    padding: 20px;
    background-color: #fff;
    height: 100%;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        border-bottom: 1px solid #eee;
        padding-bottom: 10px;
    }
}