.inventory-output-list-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: auto;
    background-color: #C7D2F2;
}

.header {
    background-color: #FCFCFC;
    border-bottom: 1px solid #e5e7eb;
    height: 4rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.breadcrumb {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    font-size: 16px;
    font-weight: 500;
}

.breadcrumb-link {
    color: #9F9F9F;
    transition: color 150ms;
    text-decoration: none;
    line-height: 150%;

    &:hover {
        color: #2563eb;
    }
}

.current-page {
    color: #4392BB;
}

.header-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.date-container {
    display: flex;
    flex-direction: column;
    font-weight: 500;
}

.date-label {
    font-size: 10px;
    color: #9F9F9F;
    text-align: right;
}

.date-value {
    font-size: 0.875rem;
    color: #4392BB;
}

.collapse-button {
    padding: 0.5rem;
    width: 1.75rem;
    height: 1.75rem;
    color: #4392BB;
    border-radius: 0.125rem;
    border: 1px solid #d1d5db;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: #f3f4f6;
    }
}

.container {
    display: flex;
    gap: 8px;
    padding: 4px 0px;
    flex: 1;
    overflow: hidden;
}

.list-section {
    flex: 1;
    overflow: auto;
}