// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((color: (primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Noto Sans JP,
      density: 0,
    ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;

  .custom-dialog-container .mat-mdc-dialog-container .mdc-dialog__surface {
    border-radius: 4px !important;
  }

}

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Noto Sans JP
}

/* Custom SnackBar Styles */
.success-snackbar {
  --mdc-snackbar-container-color: #28a745;
  --mdc-snackbar-supporting-text-color: #ffffff;
  border-radius: 4px;
}

.error-snackbar {
  --mdc-snackbar-container-color: #f44336;
  --mdc-snackbar-supporting-text-color: #ffffff;
  border-radius: 4px;
}

.error-snackbar .mdc-snackbar__surface::before {
  content: "!";
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color: white;
  color: #f44336;
  border-radius: 50%;
  font-weight: bold;
  margin-right: 12px;
  vertical-align: middle;
}